/* color pallete
#c0cbff
#666666
#ffc0cb
#444444
#c0fff4
*/
body {
    background: linear-gradient(0deg, #666666 0%, #c0cbff 100%);
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.main {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: #ffc0cb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

ul li a:hover {
    background-color: #666666;
}

a,
h1,
p,
span {
    font-family: "Courier", "Lucida Console", monospace;
    color: #ffc0cb;
}

/* CSS */
button {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    color: #c0fff4;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

button:hover,
button:focus {
    opacity: 0.75;
}
