/* color pallete
#c0cbff
#666666
#ffc0cb
#444444
#c0fff4
*/
.color-1 {
    background: #c0cbff;
}
.color-2 {
    background: #666666;
}
.color-3 {
    background: #ffc0cb;
}
.color-4 {
    background: #444444;
}
.color-5 {
    background: #c0fff4;
}

.active,
.inactive {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #444444;
}

.inactive .display img {
    filter: grayscale(100%);
}

.display img {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 65%;
}

.main span {
    font-size: 1.5vw;
}
.main h1 {
    text-align: center;
    overflow-wrap: break-word;
    margin: 1vh;
    white-space: nowrap;
    font-size: 3vw;
}

.popup {
    display: none;
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 30vw;
    height: 40vh;
    color: #c0fff4;
    background-color: #444444;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
}

.popup h2 {
    font-size: 2vw;
    text-align: center;
    margin-bottom: 10px;
}

.popup img {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40%;
    filter: grayscale(100%);
}
